#friends {
    text-align: center;
}

#friend_list {
    height: 65vh;
    width: 100%;
    margin: 2%;
    overflow: scroll;
    border: 2px solid blue;
    background: rgb(48, 163, 224);
}

.friend_name {
    margin: 0px;
    padding: 2%;
}

.del_item {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 20px;
}

.friend {
    position: relative;
    width: 100%;
    text-align: left;
    margin: 5%;
}