.leaderboard {
    width: 100%;
    margin-bottom: 5%;
    border-collapse: collapse;
}

.leaderboard tbody{
    overflow-y:scroll;
    height:60vh;
    width: 88vw;
    display:block;
}

.leaderboard thead{
    display: block;
    width: 88vw;
    overflow: auto;
}

#leaderboard {
    margin-top: 7%;
    text-align: center;
}

th {
    width: 33vw;
    border-bottom: solid black 2px;
}

.score {
    text-align: center;
    border-bottom: 1px black solid;
    width: 33%;
}

.name {
    border-bottom: 1px black solid;
    text-align: center;
    width: 33%;
}

.platz{
    border-bottom: 1px black solid;
    text-align: center;
    width: 33%;
}

/*row highlighting*/

.first {
    background-color: rgba(255, 232, 103, 0.5);
}

.second {
    background-color: rgba(192, 192, 192, 0.5);
}

.third {
    background-color: rgba(205, 127, 50, 0.5);
}

.ich {
    border: 2px solid rebeccapurple;
}

.friends{
    font-weight: bold;
}