.leaderboard {
    width: 100%;
    margin-bottom: 5%;
    border-collapse: collapse;
}

.leaderboard tbody {
    overflow-y: scroll;
    height: 60vh;
    width: 88vw;
    display: block;
}

.leaderboard thead {
    display: block;
    width: 88vw;
    overflow: auto;
}

#leaderboard {
    margin-top: 7%;
    text-align: center;
}

th {
    width: 33vw;
    border-bottom: solid black 2px;
    color: black;
    font-size: 18px;
}

.score {
    text-align: center;
    font-weight: bold;
    width: 33vw;
}

.name {
    text-align: center;
    width: 33vw;
}

.platz {
    text-align: center;
    width: 33vw;
}


/*row highlighting*/

.other {
    background-color: rgba(0, 0, 0, 0.137);
}

.first {
    color: #C9B037;
    font-weight: bold;
}

.second {
    color: #D7D7D7;
    font-weight: bold;
}

.third {
    color: #c49c47;
    font-weight: bold;
}

.ich {
    border: 2px solid rebeccapurple;
}

.friends {
    font-weight: bold;
}

#popup{    
    text-align: center;
    width: 70vw;
}